<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    題目：<span id="Quention"></span>
    <br />
    選項：<ul id="Option"></ul>
    <br />
    隱藏-正確答案Index：<input type="hidden" id="CorrectOptionIndex" /> 
    <br />

    <!-- Scripts -->
    <script src="../Scripts/Jquery/jquery-3.1.1.min.js"></script>
    <script src="../Services/ExamConfigForFirebase.js"></script>
    <script src="../Services/QuentionsService.js"></script>
    <script src="../Controllers/QuentionsController.js"></script>
</body>
</html>
